.App{
  width: 80%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: block;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}



button{
  
  top: 510px;
  left: 489px;
  width: 388px;
  height: 98px;
  /* UI Properties */
  background: var(--unnamed-color-5efc8d) 0% 0% no-repeat padding-box;
  background: #5EFC8D 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  

}
button:hover{
 
  background-color: #FFFFFF;
  /* UI Properties */
  opacity: 1;

}

#but{
 
/* UI Properties */
color: var(--unnamed-color-000000);
text-align: center;
font: normal normal 300 48px/72px Poppins;
letter-spacing: 0px;
color: #000000;
text-transform: capitalize;
opacity: 1;
}

h1{
  color: #FFFFFF;
  /* Layout Properties */
  top: 285px;
  left: 249px;
  width: 869px;
  height: 76px;
  /* UI Properties */
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal 600 54px/81px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 1;
}
